apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-nginx"
  labels:
    app: nginx
spec:
  replicas: {{ .Values.deploy.replicas }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: "nginx:{{ .Chart.AppVersion }}"
        ports:
        - containerPort: 80

